* {
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: gray;
    color: white;
    margin:0;
    padding: 0;
    font-size: 30px;
}

#bg {
    position: fixed;
    top: 0;
    left: 0;
    height: 130%;
    width: 100%;
    z-index: -3;
}
#bg:after {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    height: 110%;
    width: 100%;
    display: block;
    background: linear-gradient(to right, rgba(0, 0, 0, .7) 0%, rgba(19, 19, 19, 0) 100%);
}

#bg img {
    height: 100%;
}
h1 {
    text-shadow: 0 0 10px rgba(0,0,0,0.5);
    font-size: 2.0em;
    margin-bottom: 50px;
}
h1, h2 {
    text-transform: uppercase;
}
h2 {
    margin: 0;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
}

#sidebar {
    float: left;
    width: 20%;
    padding: 5px;
    height: 250%;
    position: fixed;
}

#sidebar ul {
    padding: 0;
    margin: 0;
    position: absolute;
    top: 15%;
    width: 100%;
    font-weight: 500;
}

#sidebar li {
    list-style: none;
}

#sidebar li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    transition: background-color 0.1s;
}

#sidebar li a:hover, #sidebar li.current a {
    background-color: #ad6a26;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
}

.content {
    float: right;
    width: 80%;
    padding: 30px;
    color: white;
}
.card {
    background-color: rgba(0,0,0,0.7);
}

.fact.card, .story.card {
    margin-bottom: 50px;
    padding: 20px;
    max-width: 700px;
}

.main .container {
    flex-direction: column;
}
.main .fact.card:nth-child(even) {
    align-self: flex-end;
}

.card p {
    font-size: 0.8em;
}

.card.story {
    max-width: 100%;
}

.stories h2 {
    font-size: 1.0em;
}

.story img {
    float: left;
    vertical-align: bottom;
    margin: 8px 10px 5px 5px;
}

.get_involved h2 {
    font-size: 0.9em;
    text-transform: none;
    text-align: center;
}

.org.card {
    height: 300px;
    width: 300px;
    margin: 15px;
    padding: 10px;
}

.org.card p {
    font-size: 0.6em;
    padding: 15px;
}
.org.card .logo {
    margin-bottom: 10px;
}
.org.card .logo img {
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
}

@media (max-width: 700px) {
    h1 {
        margin-top: 10px;
        margin-bottom: 100px;
    }
    #sidebar {
        width: 100%;
        position: static;
        height: auto;
    }
    #sidebar ul {
        position: static;
        display: flex;
        justify-content: flex-end;
    }
    #sidebar li {
        display: inline-block;
    }
    .container {
      justify-content: center;
    }

    .content {
        width: 100%;
    }
}
